<!-- 
Name: Sidharth Choudhary
Student ID: 300990285
Date: 16 Feb, 2019
-->

<% include ../partials/header.ejs %>
 
<!-- embed my PROJECT LIST content here -->

    <div class="container"><br>
            <h1 style="font-family:'Billabong'; font-weight:bold"> Sidharth's <%= title %></h1>
        <div class="row">
            <div class="col-md-offset-3 col-md-6"></div>
        
        <br>
        <table class="table table-bordered table-striped table-hover">
           
           <!-- Header Row --> 
           <tr>
                <th class="text-centre"> Name </th>
                <th class="text-centre"> Description </th>
            </tr>

<!-- Redirecting To MYProjectList with the unique project id's as parameters. -->

            <% for(let count=0; count < projectList.length; count++) { %>
        
            <tr>
                <th class="text-centre">
               <a href = "\MyProjectList\<%= projectList[count].name %>">
                <%= projectList[count].name %>
                <% var projectName = projectList[count].name; %> 
                </a>
                </th>
                <th class="text-centre">
                <a href = "\MyProjectList\<%= projectList[count].name %>" >
                <%= projectList[count].description %>
                </a>
                </th>
            </tr>
      
            <% } %>
            </table>
        </div>
    </div>
     

<% include ../partials/footer.ejs %>